# Object files

*~
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/

.anjuta/*
.anjuta_sym_db.db
.anjuta/
Debug/
Optimized/
timeshifter.anjuta
autom4te.cache/
.deps/
config.log
timeshifter_core
timeshifter.sublime-project
timeshifter.sublime-workspace

